:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.pending {
  color: gray;
}
.correct {
  font-weight: bold;
  color: green;
}
.incorrect {
  color: red;
  font-weight: bold;
}
.title-m {
  color: green;
}
